*.mk               linguist-language=Makefile
debian/rules       linguist-language=Makefile

environment        linguist-language=Shell
debian/postinsts/* linguist-language=Shell
debian/preinsts/*  linguist-language=Shell

rpm/specs/*.spec   linguist-language=RPM Spec
