*.mk               linguist-language=Makefile
debian/rules       linguist-language=Makefile
environment        linguist-language=Bash
debian/postinsts/* linguist-language=Bash
debian/preinsts/*  linguist-language=Bash
