# This file is part of the Phalcon Builder.
#
# (c) Phalcon Team <team@phalcon.io>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.
#
# If you did not receive a copy of the license it is available
# through the world-wide-web at the following url:
# https://license.phalcon.io

dist: trusty

services:
  - docker

language: generic

git:
  depth: 1

cache:
  timeout: 604800
  directories:
    - ${HOME}/.cache/re2c
    - ${HOME}/.cache/php
    - ${HOME}/.cache/zephir

env:
  # The `BUILDTAB' variable contains descriptive information about the packages
  # the CI can build.  This variable is only read by programs, and not written;
  # it is the duty of the maintainer to properly create and maintain this
  # variable.  The order of records in `BUILDTAB' is important because build
  # programs sequentially iterate through `BUILDTAB' doing their thing.
  #
  # Each build in this matrix is described on a separate line in a format:
  #     - BUILDTAB="<OS> <DIST> <PACKAGE> <CLONE_BRANCH> <PHP_VERSION> \
  #                 <PACKAGECLOUD_REPO> <REPO_VENDOR>"
  # Fields on each line are separated by tabs or spaces.
  # Lines starting with '#' are comments.  Blank lines are ignored.
  matrix:
    # stable - ubuntu
    - BUILDTAB="ubuntu trusty deb v4.1.0 7.2 stable -"
    - BUILDTAB="ubuntu trusty deb v4.1.0 7.3 stable -"
    - BUILDTAB="ubuntu xenial deb v4.1.0 7.2 stable -"
    - BUILDTAB="ubuntu xenial deb v4.1.0 7.3 stable -"
    - BUILDTAB="ubuntu xenial deb v4.1.0 7.4 stable -"
    - BUILDTAB="ubuntu bionic deb v4.1.0 7.2 stable -"
    - BUILDTAB="ubuntu bionic deb v4.1.0 7.3 stable -"
    - BUILDTAB="ubuntu bionic deb v4.1.0 7.4 stable -"
    - BUILDTAB="ubuntu focal deb v4.1.0 7.2 stable -"
    - BUILDTAB="ubuntu focal deb v4.1.0 7.3 stable -"
    - BUILDTAB="ubuntu focal deb v4.1.0 7.4 stable -"
    - BUILDTAB="ubuntu groovy deb v4.1.0 7.2 stable -"
    - BUILDTAB="ubuntu groovy deb v4.1.0 7.3 stable -"
    - BUILDTAB="ubuntu groovy deb v4.1.0 7.4 stable -"

    # stable - debian
    #- BUILDTAB="debian jessie deb v4.1.0 7.2 stable -"
    #- BUILDTAB="debian jessie deb v4.1.0 7.3 stable -"
    #- BUILDTAB="debian jessie deb v4.1.0 7.4 stable -"
    - BUILDTAB="debian stretch deb v4.1.0 7.2 stable -"
    - BUILDTAB="debian stretch deb v4.1.0 7.3 stable -"
    - BUILDTAB="debian stretch deb v4.1.0 7.4 stable -"
    - BUILDTAB="debian buster deb v4.1.0 7.3 stable -"
    - BUILDTAB="debian buster deb v4.1.0 7.4 stable -"

    # stable - centos
    - BUILDTAB="el 7 rpm v4.1.0 7.2 stable ius"
    - BUILDTAB="el 7 rpm v4.1.0 7.3 stable ius"
    - BUILDTAB="el 7 rpm v4.1.0 7.4 stable ius"

    # mainline - ubuntu
    #- BUILDTAB="ubuntu trusty deb v4.0.0-rc.3 7.2 mainline -"
    #- BUILDTAB="ubuntu trusty deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="ubuntu xenial deb v4.0.0-rc.3 7.2 mainline -"
    #- BUILDTAB="ubuntu xenial deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="ubuntu xenial deb v4.0.0-rc.3 7.4 mainline -"
    #- BUILDTAB="ubuntu bionic deb v4.0.0-rc.3 7.2 mainline -"
    #- BUILDTAB="ubuntu bionic deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="ubuntu bionic deb v4.0.0-rc.3 7.4 mainline -"

    # mainline - debian
    #- BUILDTAB="debian jessie deb v4.0.0-rc.3 7.2 mainline -"
    #- BUILDTAB="debian jessie deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="debian jessie deb v4.0.0-rc.3 7.4 mainline -"
    #- BUILDTAB="debian stretch deb v4.0.0-rc.3 7.2 mainline -"
    #- BUILDTAB="debian stretch deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="debian stretch deb v4.0.0-rc.3 7.4 mainline -"
    #- BUILDTAB="debian buster deb v4.0.0-rc.3 7.3 mainline -"
    #- BUILDTAB="debian buster deb v4.0.0-rc.3 7.4 mainline -"

    # mainline - centos
    #- BUILDTAB="el 7 rpm v4.0.0-rc.3 7.2 mainline ius"
    #- BUILDTAB="el 7 rpm v4.0.0-rc.3 7.3 mainline ius"
    #- BUILDTAB="el 7 rpm v4.0.0-rc.3 7.4 mainline ius"

    # nightly - ubuntu
    - BUILDTAB="ubuntu trusty deb 4.1.x 7.2 nightly -"
    - BUILDTAB="ubuntu trusty deb 4.1.x 7.3 nightly -"
    - BUILDTAB="ubuntu xenial deb 4.1.x 7.2 nightly -"
    - BUILDTAB="ubuntu xenial deb 4.1.x 7.3 nightly -"
    - BUILDTAB="ubuntu xenial deb 4.1.x 7.4 nightly -"
    - BUILDTAB="ubuntu bionic deb 4.1.x 7.2 nightly -"
    - BUILDTAB="ubuntu bionic deb 4.1.x 7.3 nightly -"
    - BUILDTAB="ubuntu bionic deb 4.1.x 7.4 nightly -"
    - BUILDTAB="ubuntu focal deb 4.1.x 7.2 nightly -"
    - BUILDTAB="ubuntu focal deb 4.1.x 7.3 nightly -"
    - BUILDTAB="ubuntu focal deb 4.1.x 7.4 nightly -"
    - BUILDTAB="ubuntu groovy deb 4.1.x 7.2 nightly -"
    - BUILDTAB="ubuntu groovy deb 4.1.x 7.3 nightly -"
    - BUILDTAB="ubuntu groovy deb 4.1.x 7.4 nightly -"

    # nightly - debian
    #- BUILDTAB="debian jessie deb 4.1.x 7.2 nightly -"
    #- BUILDTAB="debian jessie deb 4.1.x 7.3 nightly -"
    #- BUILDTAB="debian jessie deb 4.1.x 7.4 nightly -"
    - BUILDTAB="debian stretch deb 4.1.x 7.2 nightly -"
    - BUILDTAB="debian stretch deb 4.1.x 7.3 nightly -"
    - BUILDTAB="debian stretch deb 4.1.x 7.4 nightly -"
    - BUILDTAB="debian buster deb 4.1.x 7.3 nightly -"
    - BUILDTAB="debian buster deb 4.1.x 7.4 nightly -"

    # nightly - centos
    - BUILDTAB="el 7 rpm 4.1.x 7.2 nightly ius"
    - BUILDTAB="el 7 rpm 4.1.x 7.3 nightly ius"
    - BUILDTAB="el 7 rpm 4.1.x 7.4 nightly ius"

matrix:
  fast_finish: true
  allow_failures:
    - env: BUILDTAB="ubuntu trusty deb 4.1.x 7.2 nightly -"
    - env: BUILDTAB="ubuntu trusty deb 4.1.x 7.3 nightly -"
    - env: BUILDTAB="ubuntu xenial deb 4.1.x 7.2 nightly -"
    - env: BUILDTAB="ubuntu xenial deb 4.1.x 7.3 nightly -"
    - env: BUILDTAB="ubuntu xenial deb 4.1.x 7.4 nightly -"
    - env: BUILDTAB="ubuntu bionic deb 4.1.x 7.2 nightly -"
    - env: BUILDTAB="ubuntu bionic deb 4.1.x 7.3 nightly -"
    - env: BUILDTAB="ubuntu bionic deb 4.1.x 7.4 nightly -"
    - env: BUILDTAB="debian stretch deb 4.1.x 7.2 nightly -"
    - env: BUILDTAB="debian stretch deb 4.1.x 7.3 nightly -"
    - env: BUILDTAB="debian stretch deb 4.1.x 7.4 nightly -"
    - env: BUILDTAB="debian buster deb 4.1.x 7.3 nightly -"
    - env: BUILDTAB="debian buster deb 4.1.x 7.4 nightly -"
    - env: BUILDTAB="el 7 rpm 4.1.x 7.2 nightly ius"
    - env: BUILDTAB="el 7 rpm 4.1.x 7.3 nightly ius"
    - env: BUILDTAB="el 7 rpm 4.1.x 7.4 nightly ius"

before_install:
  - source environment
  - export $(cat environment | grep -v "^#\|^$" | cut -d= -f1)
  - source ci/export-buildtab.sh
  # Create daily builds only for nightly branch
  - if [ "${PACKAGECLOUD_REPO}${TRAVIS_EVENT_TYPE}" = "stablecron" ]; then travis_terminate 0 ; fi
  - if [ "${PACKAGECLOUD_REPO}${TRAVIS_EVENT_TYPE}" = "mainlinecron" ]; then travis_terminate 0 ; fi
  - if [ $OS != "el" ]; then ./ci/prepare-debian.sh; fi
  - if [ $OS = "el" ]; then ./ci/prepare-rpm.sh; fi
  - if [ $REPO_VENDOR == "-" ]; then unset REPO_VENDOR; fi

install:
  - ./ci/install-php.sh || travis_terminate 1
  - source ./ci/setup-build.sh
  - ./ci/install-re2c.sh || travis_terminate 1
  - ./ci/install-zephir-parser.sh || travis_terminate 1
  - ./ci/install-zephir.sh || travis_terminate 1

before_script:
  - git clone -b $CLONE_BRANCH --depth 1 -q $PRODUCT_GIT $SOURCEDIR 1>/dev/null
  - ./ci/regenerate-build.sh || travis_terminate 1

script:
  - make -f .travis.mk ${TARGET} || travis_terminate 1

before_deploy:
  - ls -l build/

deploy:
  - provider: packagecloud
    username: "${PACKAGECLOUD_USER}"
    repository: "${PACKAGECLOUD_REPO}"
    token: "${PACKAGECLOUD_TOKEN}"
    dist: "${OS}/${DIST}"
    package_glob: build/*.{rpm,deb,dsc}
    skip_cleanup: true
    on:
      branch: "master"
      condition: -n "${OS}" && -n "${DIST}" && -n "${PACKAGECLOUD_TOKEN}"

notifications:
    email: false
