#!/usr/bin/make -f
# -*- makefile -*-
#
#  Phalcon Framework
#
#  Copyright (c) 2011-2016 Phalcon Team (https://www.phalconphp.com)
#
#  This source file is subject to the New BSD License that is bundled
#  with this package in the file docs/LICENSE.txt.
#
#  If you did not receive a copy of the license and are unable to
#  obtain it through the world-wide-web, please send an email
#  to license@phalconphp.com so we can send you a copy immediately.
#
#  Authors: Andres Gutierrez <andres@phalconphp.com>
#           Serghei Iakovlev <serghei@phalconphp.com>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PHP_FULL_VERSION=$(shell php-config7.0 --version 2> /dev/null || php-config5 --version 2> /dev/null)
PHP_MAJOR_VERSION=$(shell echo $(PHP_FULL_VERSION) | head -c 1)
PHP_API_VERSION=$(shell php-config7.0 --phpapi 2> /dev/null || php-config5 --phpapi 2> /dev/null)

ifeq ($(PHP_MAJOR_VERSION), 5))
	BUILD=$(CURDIR)/debian/php5-phalcon
	PHALCON_DBG_EXT=php5-phalcon-dbg
	PHALCON_SUBSTVARS=php5-phalcon.substvars
endif

ifeq ($(PHP_MAJOR_VERSION), 7))
    BUILD=$(CURDIR)/debian/php7.0-phalcon
    PHALCON_DBG_EXT=php7.0-phalcon-dbg
    PHALCON_SUBSTVARS=php7.0-phalcon.substvars
endif

CFLAGS+=-g3 -fvisibility=hidden -DPHALCON_RELEASE
LDFLAGS+=-Wl,--as-needed -Wl,-O1 -Wl,-Bsymbolic-functions

PHALCON_DIR=cphalcon/build/php$(PHP_MAJOR_VERSION)/safe
DEB_HOST_ARCH?=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),i386))
	PHALCON_DIR=cphalcon/build/php$(PHP_MAJOR_VERSION)/32bits
endif

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),amd64))
	PHALCON_DIR=cphalcon/build/php$(PHP_MAJOR_VERSION)/64bits
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS+=-O0
else
	CFLAGS+=-fomit-frame-pointer -finline-functions
endif

%:
	dh $@

override_dh_auto_configure:
	(cd $(PHALCON_DIR); phpize; ./configure --enable-phalcon=shared)

override_dh_auto_build:
	$(MAKE) -C $(PHALCON_DIR)

override_dh_auto_clean:
	dh_auto_clean
	( \
		cd $(PHALCON_DIR); \
		[ -f Makefile ] && $(MAKE) distclean; \
		phpize --clean; \
		rm -f tmp-php.ini; \
	)

override_dh_auto_install:
	INSTALL_ROOT=$(BUILD) $(MAKE) -C $(PHALCON_DIR) install

override_dh_strip:
	dh_strip -s --dbg-package=$(PHALCON_DBG_EXT)

override_dh_gencontrol:
	echo "php:Depends=phpapi-$(PHP_API_VERSION)" >> debian/$(PHALCON_SUBSTVARS)
	dh_gencontrol
