#!/usr/bin/make -f
# -*- makefile -*-
#
# This file is part of the Phalcon.
#
# (c) Phalcon Team <team@phalconphp.com>
#
# For the full copyright and license information, please view
# the LICENSE.txt file that was distributed with this source code.
#
# If you did not receive a copy of the license it is available
# through the world-wide-web at the following url:
# https://license.phalconphp.com
#
# If you did not receive a copy of the license and are unable to
# obtain it through the world-wide-web, please send an email
# to license@phalconphp.com so we can send you a copy immediately.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# enable dpkg build flags
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS=1

include /usr/share/dpkg/default.mk

export DEB_HOST_MULTIARCH

PHP_VERSION:=
PROPOSED_PHP_VERSION=$(PHP_VERSION)

ifeq ($(strip $(PROPOSED_PHP_VERSION)),)
PHP_FULL_VERSION=$(shell php-config --version 2> /dev/null || php-config5 --version 2> /dev/null)
PHP_MAJOR_VERSION=$(shell echo $(PHP_FULL_VERSION) | head -c 1)
else
PHP_MAJOR_VERSION=$(shell echo $(PROPOSED_PHP_VERSION) | head -c 1)
endif

ifeq ($(PHP_MAJOR_VERSION),$(filter $(PHP_MAJOR_VERSION),5))
PACKAGE=php5-phalcon
BUILD=$(CURDIR)/debian/$(PACKAGE)
PHALCON_SHARE_PATH=php5/$(PACKAGE)
PHP_API_VERSION=$(shell php-config5 --phpapi)
else
PHP_MINOR_VERSION=$(shell php-config --version | cut -f1,2 -d.)
PACKAGE=php$(PHP_MINOR_VERSION)-phalcon
BUILD=$(CURDIR)/debian/$(PACKAGE)
PHALCON_SHARE_PATH=$(PACKAGE)
PHP_API_VERSION=$(shell php-config --phpapi)
endif

PHALCON_SUBSTVARS=$(PACKAGE).substvars
SOURCEDIR=build/php$(PHP_MAJOR_VERSION)/safe
DEB_HOST_ARCH?=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),i386))
SOURCEDIR=build/php$(PHP_MAJOR_VERSION)/32bits
endif

ifeq ($(DEB_HOST_ARCH),$(filter $(DEB_HOST_ARCH),amd64))
SOURCEDIR=build/php$(PHP_MAJOR_VERSION)/64bits
endif

CFLAGS+=-g3 -fvisibility=hidden -DPHALCON_RELEASE
LDFLAGS+=-Wl,--as-needed -Wl,-Bsymbolic-functions

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS+=-O0
else
CFLAGS+=-O2 -fomit-frame-pointer -finline-functions
endif

%:
	dh $@

prepare-files-stamp:
	mkdir -p debian/usr/share/$(PHALCON_SHARE_PATH)/phalcon/; \
	cp debian/phalcon.ini debian/usr/share/$(PHALCON_SHARE_PATH)/phalcon/phalcon.ini; \
	echo "debian/usr/share/$(PHALCON_SHARE_PATH)/phalcon/phalcon.ini usr/share/$(PHALCON_SHARE_PATH)/phalcon/" >> debian/$(PACKAGE).install;
	touch prepare-files-stamp

override_dh_auto_configure:
	cd $(SOURCEDIR); \
	phpize; \
	./configure --enable-phalcon=shared

override_dh_auto_build:
	$(MAKE) -C $(SOURCEDIR)

override_dh_auto_clean:
	dh_auto_clean
	( \
		cd $(SOURCEDIR); \
		[ -f Makefile ] && $(MAKE) distclean; \
		phpize --clean; \
		rm -f tmp-php.ini; \
	)

override_dh_installdirs: prepare-files-stamp
	dh_installdirs

override_dh_auto_install:
	INSTALL_ROOT=$(BUILD) $(MAKE) -C $(SOURCEDIR) install

override_dh_strip:
	dh_strip -s --dbg-package=$(PACKAGE)-dbgsym

override_dh_gencontrol:
	echo "php:Depends=phpapi-$(PHP_API_VERSION)" >> debian/$(PHALCON_SUBSTVARS)
	dh_gencontrol
